<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Valendo-->

<h1>Valendo:</h1>

<!--Botões-->
<ion-button class="B1">1</ion-button>
<ion-button class="3">3</ion-button>
<ion-button class="6">6</ion-button>
<ion-button class="9">9</ion-button>
<ion-button class="12">12</ion-button>

<!--Times-->

<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-title>TIME 1</ion-card-title>
    <ion-button class="card"> +</ion-button>
  </ion-card-header>
</ion-card>

</ion-content>
