ion-button {

  --background: #443bca;
  --color: rgb(255, 255, 255);
  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0 2px 6px 0 rgba(128, 66, 209, 0.699);
  --ripple-color: rgb(233, 162, 255);
  --padding-top: 10px;
  --padding-bottom: 10px;
}

