
.valendo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  flex-flow: column;
  }



.V1{

  --background: #000000da;
  --color: rgb(255, 255, 255);
  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0 2px 6px 0 rgba(66, 88, 209, 0.699);
  --ripple-color: rgb(146, 192, 206);
  --padding-top: 10px;
  --padding-bottom: 10px;
}




.card1{

  --background: #443bca;
  --color: rgb(255, 255, 255);
  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0 2px 6px 0 rgba(128, 66, 209, 0.699);
  --ripple-color: rgb(233, 162, 255);
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.card2 {

  --background: #b69732;
  --color: rgb(255, 255, 255);
  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0 2px 6px 0 rgba(255, 236, 152, 0.699);
  --ripple-color: rgb(255, 238, 162);
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.valendo1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  flex-flow: column;
}

.cards{
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
  flex-flow: column;


  .coluna2{

    display: flex;
    align-items: center;
    height: 50%;
    width: 88%;
    flex-flow: left;


  }



}


.cont{
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
  flex-flow: column;


  .p1{

    display: flex;
    align-items: center;
    height: 50%;
    width: 88%;
    flex-flow: left;


  }




}


